{% extends "base.html" %}

{% block content %}
    <h1>Signup</h1>
    <form action="/welcome" method="post">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>Username</label>
                    </td>
                    <td> 
                        <input type="text" name='username' />
                        <span class="error">{{username_error}}</span>
                    </td>         
                </tr>
                <tr>
                    <td>
                        <label>Password</label>
                    </td>
                    <td> 
                        <input type="password" name='password' />
                        <span class="error">{{password_error}}</span>
                    </td>         
                </tr>
                <tr>
                    <td>
                        <label>Verify Password</label>
                    </td>
                    <td> 
                        <input type="password" name='verify' />
                        <span class="error">{{verify_error}}</span>
                    </td>         
                </tr>
                <tr>
                    <td>
                        <label>Email (optional)</label>
                    </td>
                    <td> 
                        <input type="text" name='email' />
                        <span class="error">{{email_error}}</span>
                    </td>         
                </tr>                          
            </tbody>
        </table>
        <input type="submit"/>
    </form>
{% endblock %}